.sign-up__input-container {
  display: flex;
  position: relative;
}


.sign-up__showPasswordButton {
  margin: 0;
  background-image: url(../../../images/showPassword_icon_.png);
  width: 22px;
  height: 22px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  border: 0;
  position: absolute;
  top: 0px;
  right: 0px;
}

.triangle-rightOff {
  display: none;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 345px solid rgba(238, 241, 20, 0.562);
	border-bottom: 20px solid transparent;
  position: absolute;
  top: -25px;
  right: 15px;
}