.popup__subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #0c0c0c;
  min-width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: white;
  border-radius: 10px 10px 0 0;
  margin: 0;
}

@media (min-width: 450px) {
  .popup__subtitle {
    max-width: 291px;
  }
}